.ouiPopoverTitle {
  @include ouiPopoverTitle;
}

.ouiPopoverTitle--paddingNone {
  padding: 0;
}

@each $modifier, $amount in $ouiPanelPaddingModifiers {
  .ouiPopoverTitle--#{$modifier} {
    padding: $amount;
  }
}

// If the popover's containing panel has padding applied,
// ensure the title expands to cover that padding and
// take on the same amount of padding horizontally

@each $modifier, $amount in $ouiPanelPaddingModifiers {
  .ouiPopover__panel.ouiPanel--#{$modifier} .ouiPopoverTitle {
    margin: ($amount * -1) ($amount * -1) $amount;

    &:not([class*='ouiPopoverTitle--padding']) {
      padding: $ouiSizeM $amount;
    }
  }
}
