$spacerSizes: (
  xs: $ouiSizeXS,
  s: $ouiSizeS,
  m: $ouiSize,
  l: $ouiSizeL,
  xl: $ouiSizeXL,
  xxl: $ouiSizeXXL,
);

.ouiSpacer {
  flex-shrink: 0; // don't ever let this shrink in height if direct descendent of flex
}

@each $name, $size in $spacerSizes {
  .ouiSpacer--#{$name} {
    height: $size;
  }
}
