// Temporary style override for inserting search template into dark header
// These selectors aren't targetable via OuiFieldSearch
.ouiHeader--dark .ouiSelectableTemplateSitewide .ouiFormControlLayout {
  background-color: transparent;

  &--group,
  input {
    box-shadow: inset 0 0 0 1px transparentize($ouiColorGhost, .7);
  }

  &:not(:focus-within) {
    color: transparentize($ouiColorGhost, .3);

    input {
      // Increase contrast of placeholder text
      @include ouiPlaceholderPerBrowser {
        color: transparentize($ouiColorGhost, .6);
      }

      // Inherit color from form control layout
      color: inherit;
      background-color: transparent;
    }

    .ouiFormControlLayout__append {
      background-color: transparent;
      color: inherit;
    }
  }
}
