// Modifier naming and colors.
$ouiExpressionColors: (
  subdued: $ouiTextSubduedColor,
  primary:  $ouiColorPrimaryText,
  success: $ouiColorSuccessText,
  secondary: $ouiColorSecondaryText,
  warning: $ouiColorWarningText,
  danger: $ouiColorDangerText,
  accent: $ouiColorAccentText,
);
