.ouiPagination {
  display: flex;
  align-items: center;

  &__compressedText {
    // sass-lint:disable-block no-important
    display: inline-flex;
    align-items: center;
    line-height: 1 !important; // Override OuiText line-height

    > *:first-child {
      margin-right: $ouiSizeXS;
    }

    > *:last-child {
      margin-left: $ouiSizeXS;
    }
  }
}

.ouiPagination__list {
  display: flex;
  align-items: baseline;
}
