.ouiNotificationEvent {
  display: flex;
  padding: $ouiSizeM 0 $ouiSizeM $ouiSizeM;
  border-bottom: $ouiBorderThin;

  &:last-child {
    border-bottom: none;
  }

  &--withReadState {
    padding: $ouiSizeM 0 $ouiSizeM $ouiSizeS;
  }
}

.ouiNotificationEvent__title {
  @include ouiTitle('xs');
  display: flex;

  // ensure links get the right color
  &.ouiLink {
    color: $ouiLinkColor;
  }

  &--isRead {
    color: $ouiColorDarkShade !important; // sass-lint:disable-line no-important
  }
}

.ouiNotificationEvent__readButton {
  margin-right: $ouiSizeS;
}

.ouiNotificationEvent__content {
  flex: 1;

  > * + * {
    margin-top: $ouiSizeS;
    margin-right: $ouiSizeM;
  }
}
