.ouiNotificationEventMessages {
  font-size: $ouiFontSizeS;

  &__accordion {
    color: $ouiColorDarkShade;
  }

  &__accordionButton {
    color: $ouiLinkColor;
  }

  &__accordionContent {
    > * {
      padding-top: $ouiSizeS;
    }
  }
}
