.ouiNotificationEventReadIcon {
  display: flex;
  align-items: center;
  height: $ouiSizeL;
  margin: 0 $ouiSizeXS;
}

.ouiNotificationEventReadIcon--isRead svg {
  fill: transparent;
  stroke-width: 1px;
  stroke: $ouiBorderColor;
}
