.ouiRangeLevels {
  .ouiRangeLevel {
    margin-top: 0;
    margin-bottom: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &--compressed {
    .ouiRangeLevel {
      height: $ouiRangeTrackCompressedHeight;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .ouiRangeThumb--hasTicks {
      top: 0;
    }
  }
}
