.ouiFormControlLayoutCustomIcon {
  pointer-events: none;
  font-size: 0; // ensures the icon stays vertically centered
}

.ouiFormControlLayoutCustomIcon--clickable {
  @include size($ouiSize);

  pointer-events: all;

  .ouiFormControlLayoutCustomIcon__icon {
    vertical-align: baseline;
    transform: none;
  }

  &:focus {
    @include ouiFocusRing;
  }

  &:disabled {
    cursor: not-allowed;
    color: $ouiFormControlDisabledColor;
  }
}
