.ouiDatePopoverContent {
  width: $ouiFormMaxWidth;
  max-width: 100%;
}

.ouiDatePopoverContent__padded {
  padding: $ouiSizeS;
}

.ouiDatePopoverContent__padded--large {
  padding: $ouiSize;
}

@include ouiBreakpoint('xs', 's') {
  .ouiDatePopoverContent {
    // Small screens drop the time selector
    width: $ouiDatePickerCalendarWidth;
  }
}
