.ouiColorPaletteDisplay {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: $ouiSizeS;
}

@each $name, $size in $ouiColorPaletteDisplaySizes {
  .ouiColorPaletteDisplay--#{$name} {
    @include innerBorder('dark', $size, .2);
    height: $size;
    border-radius: $size;
  }

  .ouiColorPaletteDisplay--#{$name} .ouiColorPaletteDisplayFixed__bleedArea {
    height: $size;
  }
}
