$ouiContextMenuWidth: $ouiSize * 16;

.ouiContextMenu {
  width: $ouiContextMenuWidth;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  transition: height $ouiAnimSpeedFast $ouiAnimSlightResistance;
  border-radius: $ouiBorderRadius;

  .ouiContextMenu__content {
    padding: $ouiSizeS;
  }
}

/**
  * 1. When there are multiple ContextMenuPanels, the ContextMenu will absolutely
  *    position them. ContextMenuPanel will break the layout of a Popover if it's
  *    absolutely positioned by default.
  */
.ouiContextMenu__panel {
  position: absolute; /* 1 */
}

.ouiContextMenu__icon {
  margin-right: $ouiSizeS;
}
