$ouiSuggestItemColors: (
  tint0: $ouiColorVis0,
  tint1: $ouiColorVis1,
  tint2: $ouiColorVis2,
  tint3: $ouiColorVis3,
  tint4: $ouiColorVis4,
  tint5: $ouiColorVis5,
  tint6: $ouiColorVis6,
  tint7: $ouiColorVis7,
  tint8: $ouiColorVis8,
  tint9: $ouiColorVis9,
  tint10: $ouiColorDarkShade,
);
