.ouiComboBoxPlaceholder {
  @include ouiTextTruncate;
  // Afford for the caret. The loading state is accounted for in _combo_box.scss
  @include ouiFormControlLayoutPadding(1, 'right');
  position: absolute;
  pointer-events: none;
  padding-left: $ouiSizeXS;
  line-height: $ouiSizeXL;
  color: $ouiFormControlPlaceholderText;
  margin-bottom: 0 !important; // sass-lint:disable-line no-important
}
