// Animations

$ouiAnimSlightBounce: cubic-bezier(.34, 1.61, .7, 1) !default;
$ouiAnimSlightResistance: cubic-bezier(.694, .0482, .335, 1) !default;

$ouiAnimSpeedExtraFast: 90ms !default;
$ouiAnimSpeedFast: 150ms !default;
$ouiAnimSpeedNormal: 250ms !default;
$ouiAnimSpeedSlow: 350ms !default;
$ouiAnimSpeedExtraSlow: 500ms !default;

// Keyframe animation declarations can be found in
// utility/animations.scss
