// Borders

$ouiBorderWidthThin: 1px !default;
$ouiBorderWidthThick: 2px !default;

$ouiBorderColor: $ouiColorLightShade !default;
$ouiBorderRadius: 4px !default;
$ouiBorderRadiusSmall: $ouiBorderRadius / 2 !default;
$ouiBorderThick: $ouiBorderWidthThick solid $ouiBorderColor !default;
$ouiBorderThin: $ouiBorderWidthThin solid $ouiBorderColor !default;
$ouiBorderEditable: $ouiBorderWidthThick dotted $ouiBorderColor !default;
