// Themeable colors
$ouiHeaderBackgroundColor: $ouiColorEmptyShade !default;
$ouiHeaderDarkBackgroundColor: lightOrDarkTheme(shade($ouiColorDarkestShade, 28%), shade($ouiColorLightestShade, 50%)) !default;
$ouiHeaderBorderColor: $ouiBorderColor !default;
$ouiHeaderBreadcrumbColor: $ouiColorDarkestShade !default;

// Layout vars
$ouiHeaderHeight: $ouiSizeXXL + $ouiSizeS !default;
$ouiHeaderChildSize: $ouiHeaderHeight !default;

// Use the following variable in other components to afford for the fixed header
$ouiHeaderHeightCompensation: $ouiHeaderHeight + 1px !default;
