$ouiSize:     16px !default;

$ouiSizeXS:   $ouiSize * .25 !default;
$ouiSizeS:    $ouiSize * .5 !default;
$ouiSizeM:    $ouiSize * .75 !default;
$ouiSizeL:    $ouiSize * 1.5 !default;
$ouiSizeXL:   $ouiSize * 2 !default;
$ouiSizeXXL:  $ouiSize * 2.5 !default;

$ouiButtonMinWidth: $ouiSize * 7 !default;

$ouiScrollBar: $ouiSize !default;
$ouiScrollBarCorner: $ouiSizeS * .75 !default;
