$ouiTooltipBackgroundColor: tintOrShade($ouiColorFullShade, 25%, 100%) !default;

$ouiTooltipAnimations: (
  top: ouiToolTipTop,
  left: ouiToolTipBottom,
  bottom: ouiToolTipLeft,
  right: ouiToolTipRight,
) !default;
