// Modifier naming and colors.
$ouiButtonIconTypes: (
  accent: $ouiColorAccentText,
  danger: $ouiColorDangerText,
  ghost: $ouiColorGhost,
  primary: $ouiColorPrimaryText,
  subdued: $ouiTextSubduedColor,
  success: $ouiColorSuccessText,
  text: $ouiColorDarkShade,
  warning: $ouiColorWarningText,
);
