.ouiCommentTimeline__content {
  min-width: $ouiSizeXXL;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ouiCommentTimeline__icon--default {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  border-radius: 50%;
  background-color: $ouiColorLightestShade;

  &.ouiCommentTimeline__icon--regular {
    width: $ouiSizeXXL;
    height: $ouiSizeXXL;
  }

  &.ouiCommentTimeline__icon--update {
    width: $ouiSizeL;
    height: $ouiSizeL;
  }
}
