@include ouiDataGridFooterCell {
  font-weight: $ouiFontWeightBold;
}

@include ouiDataGridStyles(stickyFooter) {
  .ouiDataGridFooter {
    position: sticky;
    bottom: 0;
  }
}

@include ouiDataGridStyles(footerOverline) {
  @include ouiDataGridFooterCell {
    border-top: $ouiBorderThick;
    // sass-lint:disable-block no-important
    border-top-color: $ouiTextColor !important;
    background: $ouiColorEmptyShade !important;
  }
}

@include ouiDataGridStyles(bordersNone) {
  @include ouiDataGridFooterCell {
    border-left: none;
    border-right: none;
  }
}

@include ouiDataGridStyles(bordersHorizontal) {
  @include ouiDataGridFooterCell {
    border-left: none;
    border-right: none;
  }
}

@include ouiDataGridStyles(footerShade) {
  @include ouiDataGridFooterCell {
    background: tintOrShade($ouiColorLightestShade, 0%, 10%);
  }
}
