.ouiMarkdownEditorPreview {
  @include ouiScrollBar;
  background: $ouiColorEmptyShade;
  min-height: $ouiMarkdownEditorMinHeight;
  overflow-y: auto;
  border: $ouiBorderThin;
  padding: $ouiSizeM;
}
