.ouiMarkdownEditor {
  &--isPreviewing {
    .ouiMarkdownEditor__toggleContainer {
      display: none;
    }
  }

  &--fullHeight {
    display: flex;
    flex-direction: column;
    height: 100%;

    .ouiMarkdownEditorTextArea {
      resize: none;
    }

    .ouiMarkdownEditorDropZone {
      height: 100%;
    }
  }
}
