/**
 * The List Group component provides neatly styled lists containing plain text
 * or links. The outer container can be bordered, with padding, or borderless
 * with links flush to the sides.
 */

.ouiListGroup {
  &.ouiListGroup-flush {
    padding: 0;
    border: none;
  }

  &.ouiListGroup-bordered {
    border-radius: $ouiBorderRadius;
    border: $ouiBorderThin;
  }
}

.ouiListGroup-maxWidthDefault {
  max-width: $ouiFormMaxWidth;
}

// Gutter Sizes
@each $gutterName, $gutterSize in $ouiListGroupGutterTypes {
  .ouiListGroup--#{$gutterName} {
    padding: $gutterSize;

    .ouiListGroupItem:not(:first-of-type) {
      margin-top: $gutterSize;
    }
  }
}
