$ouiListGroupItemHoverBackground: transparentize($ouiColorLightShade, .75);
$ouiListGroupItemHoverBackgroundGhost: transparentize($ouiColorGhost, .9);

$ouiListGroupGutterTypes: (
  gutterSmall: $ouiSizeS,
  gutterMedium: $ouiSize,
);

$ouiListGroupItemColorTypes: (
  primary: $ouiColorPrimaryText,
  text: $ouiTextColor,
  subdued: $ouiTextSubduedColor,
  ghost: $ouiColorGhost,
);

$ouiListGroupItemSizeTypes: (
  xSmall: $ouiFontSizeXS,
  small: $ouiFontSizeS,
  medium: $ouiFontSize,
  large: $ouiFontSizeL,
);
