.guideRule {
  margin-top: $ouiSizeXXL;

  + .guideRule {
    margin-top: $ouiSizeL;

    &.guideRule--hasDescription {
      margin-top: $ouiSizeXXL * 1.5;
    }

    &.guideRule--hasHeading {
      margin-top: $ouiSizeXXL * 2;
    }
  }

  .guideRule__title + &:not(.guideRule--hasHeading) {
    margin-top: 0;
  }
}


