/**
 * 1. Force each title to be the same height as an option, so that the virtualized scroll logic
 *    works.
 */
.ouiComboBoxTitle {
  font-size: $ouiFontSizeXS;
  padding: ($ouiSizeXS + $ouiSizeS - 1px) $ouiSizeS $ouiSizeXS; /* 1 */
  width: 100%;
  font-weight: $ouiFontWeightBold;
  color: $ouiColorFullShade;
}
