// Hide mobile-only elements by default
.ouiTableHeaderMobile,
.ouiTableHeaderCell--hideForDesktop {
  display: none;
}

@include ouiBreakpoint('xs', 's') {

  .ouiTableHeaderMobile {
    display: flex;
    justify-content: flex-end;
    padding: $ouiTableCellContentPadding 0;
  }

  .ouiTableSortMobile {
    display: block;
  }

}
