// Expand height of list via flex box
.ouiSelectableList {
  &:focus-within {
    @include ouiFocusRing;
  }
}

.ouiSelectableList-fullHeight {
  flex-grow: 1;
}

.ouiSelectableList-bordered {
  overflow: hidden;
  border: $ouiBorderThin;
  border-radius: $ouiBorderRadius;
}

.ouiSelectableList__list {
  @include ouiOverflowShadow;
  @include ouiScrollBar;
}

.ouiSelectableList__groupLabel {
  @include ouiTitle('xxxs');
  display: flex;
  align-items: center;
  border-bottom: $ouiSelectableListItemBorder;
  padding: $ouiSelectableListItemPadding;
}
