.ouiSuperSelect__listbox {
  @include ouiScrollBar;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.ouiSuperSelect__item {
  @include ouiFontSizeS;
  @include ouiInteractiveStates;
  padding: $ouiSizeS;
}

.ouiSuperSelect__item--hasDividers:not(:last-of-type) {
  border-bottom: $ouiBorderThin;
}
