.ouiCardSelect {
  // Option select button that expands to sides and bottom
  @include ouiCardBottomNodePosition;
  font-weight: $ouiFontWeightBold;

  // Create button modifiers based upon the map.
  @each $name, $color in $ouiCardSelectButtonBackgrounds {
    &--#{$name}:enabled {
      background-color: $color;

      // Custom success text color since it doesn't exist on OuiButtonEmpty
      @if ($name == 'success') {
        color: makeHighContrastColor($ouiColorSuccess, $color);
      }
    }
  }

  &:disabled {
    background-color: $ouiPageBackgroundColor;
  }
}
