$ouiIconLoadingOpacity: .05;

// Modifier naming and colors.
$ouiIconColors: (
  accent: makeGraphicContrastColor($ouiColorAccent),
  danger: makeGraphicContrastColor($ouiColorDanger),
  ghost: $ouiColorGhost,
  primary: makeGraphicContrastColor($ouiColorPrimary),
  secondary: makeGraphicContrastColor($ouiColorSecondary),
  success: makeGraphicContrastColor($ouiColorSuccess),
  subdued: $ouiTextSubduedColor,
  text: $ouiTextColor,
  warning: makeGraphicContrastColor($ouiColorWarning),
  inherit: inherit
);

$ouiIconSizes: (
  small: $ouiSizeM,
  medium: $ouiSize,
  large: $ouiSizeL,
  xLarge: $ouiSizeXL,
  xxLarge: $ouiSizeXXL
);
