.ouiFlyoutBody {
  flex-grow: 1;
  overflow-y: hidden;
  height: 100%;

  .ouiFlyoutBody__overflow {
    @include ouiYScrollWithShadows;

    &.ouiFlyoutBody__overflow--hasBanner {
      @include ouiOverflowShadow('y', 'end');
    }
  }

  .ouiFlyoutBody__banner .ouiCallOut {
    border: none; // Remove border from callout when it is a flyout banner
    border-radius: 0; // Ensures no border-radius in all themes
  }
}
