// Header items are the small icon links that pop up menus.

.ouiHeaderSectionItem {
  position: relative;
  display: flex;
  align-items: center;

  &:after {
    position: absolute;
    content: '';
    top: $ouiSize;
    bottom: 0;
    background: $ouiBorderColor;
    left: 0;
  }
}

.ouiHeaderSectionItem--borderLeft {
  &:after {
    left: 0;
    width: 1px;
  }
}

.ouiHeaderSectionItem--borderRight {
  &:after {
    width: 1px;
    left: auto;
    right: 0;
  }
}

@include ouiBreakpoint('xs') {
  .ouiHeaderSectionItem {
    min-width: $ouiHeaderChildSize * .75;
  }

  .ouiHeaderSectionItem--borderLeft,
  .ouiHeaderSectionItem--borderRight {
    &:after {
      display: none;
    }
  }
}
