/**
  * 1. Prevent really long input from overflowing the container.
  */
.ouiSelectableMessage {
  padding: $ouiSizeS;
  text-align: center;
  word-wrap: break-word; /* 1 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ouiSelectableMessage--bordered {
  // Match border from selectable_list
  overflow: hidden;
  border: $ouiBorderThin;
  border-radius: $ouiBorderRadius;
}
