@mixin createStepsNumber($size: $ouiStepNumberSize, $fontSize: $ouiFontSize) {
  @include size($size);

  display: inline-block;
  line-height: $size;
  border-radius: $size;
  text-align: center;
  color: $ouiColorEmptyShade;
  background-color: $ouiColorPrimary;
  font-size: $fontSize;
  font-weight: $ouiFontWeightMedium;
}
