.ouiSubSteps {
  padding: $ouiSize;
  background-color: $ouiColorLightestShade;
  margin-bottom: $ouiSize;

  > *:last-child {
    margin-bottom: 0;
  }

  // change ordered list from numbers to lowercase letters
  .ouiText & ol,
  & ol {
    list-style-type: lower-alpha;
  }
}
