$ouiStepNumberSize: $ouiSizeXL !default;
$ouiStepNumberSmallSize: $ouiSizeL !default;
$ouiStepNumberMargin: $ouiSize !default;

// Modifier naming and colors.
$ouiStepStatusColorsToFade: (
  warning: $ouiColorWarning,
  danger: $ouiColorDanger,
  disabled: $ouiColorDarkShade,
  incomplete: $ouiColorDarkShade,
) !default;
