$ouiControlBarBackground: lightOrDarkTheme($ouiColorDarkestShade, $ouiColorInk);
$ouiControlBarText: lighten(makeHighContrastColor($ouiColorLightestShade, $ouiControlBarBackground), 20%);
$ouiControlBarBorderColor: transparentize($ouiColorGhost, .8);
$ouiControlBarInitialHeight: $ouiSizeXXL;
$ouiControlBarMaxHeight: calc(100vh - #{$ouiSize * 5});

// Pixel heights ensure no blurriness caused by half pixel offsets
$ouiControlBarHeights: (
  s: $ouiSize * 15,
  m: $ouiSize * 30,
  l: 100vh,
);

