.ouiPageContentHeaderSection {
  & + & {
    margin-left: $ouiSizeXL;
  }
}

// Adjust vertical spacing based on content padding prop
@include ouiBreakpoint('xs', 's') {
  @each $modifier, $amount in $ouiPanelPaddingModifiers {
    .ouiPageContent[class*='#{$modifier}'] .ouiPageContentHeader--responsive {
      .ouiPageContentHeaderSection + .ouiPageContentHeaderSection {
        margin-left: 0;
        margin-top: $amount / 2;
      }
    }
  }
}

