.ouiRangeLabel {
  &--min,
  &--max {
    font-size: $ouiFontSizeXS;
  }

  &--min {
    margin-right: $ouiSizeS;
  }

  &--max {
    margin-left: $ouiSizeS;
  }

  &--isDisabled {
    opacity: $ouiRangeDisabledOpacity;
  }
}
