.ouiRangeThumb {
  @include ouiCustomControl($type: 'round');
  @include ouiRangeThumbStyle;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -($ouiRangeThumbHeight / 2);
  pointer-events: none;
  z-index: 1; // higher than .ouiRangeHighlight that is 0

  &:focus {
    @include ouiCustomControlFocused;
  }

  &--hasTicks {
    top: 25%;
  }
}
