/**
 * 1. Focused state overrides invalid state.
 */
.ouiFormLabel {
  @include ouiFormLabel;
  display: inline-block;
  transition: all $ouiAnimSpeedFast $ouiAnimSlightResistance;

  &.ouiFormLabel-isInvalid {
    color: $ouiColorDanger; /* 1 */
  }

  &.ouiFormLabel-isFocused {
    color: $ouiColorPrimary; /* 1 */
  }
}

.ouiFormLabel[for] {
  cursor: pointer;
}
