@mixin ouiSuperDatePickerText {
  @include ouiFormControlText;
  display: block;
  width: 100%;
  padding: 0 $ouiSizeS;
  line-height: $ouiFormControlLayoutGroupInputHeight;
  height: $ouiFormControlLayoutGroupInputHeight;
  word-break: break-all;
  transition: background $ouiAnimSpeedFast ease-in;
}
