.ouiSuperUpdateButton {
  // Just wide enough for all 3 states
  min-width: $ouiSuperDatePickerButtonWidth;
}

@include ouiBreakpoint('xs', 's') {
  .ouiSuperUpdateButton {
    min-width: 0;

    .ouiSuperUpdateButton__text {
      display: none;
    }
  }
}
