@include ouiBreakpoint('m', 'l', 'xl') {
  .guideColorsPage__stickySlider {
    position: sticky;
    top: $ouiHeaderHeightCompensation;
    z-index: $ouiZLevel1 - 1; // Below header
  }
}

.guideColorSection__button {
  padding: $ouiSizeXS;
  margin-bottom: $ouiSizeXS / 2;
  border-radius: $ouiBorderRadius;
  width: 100%;
  max-width: 300px;
}
