.guideSection {
  & + .guideSection {
    margin-top: $ouiSizeXL;
  }
}

.guideSection__tableCodeBlock {
  padding-left: $ouiSizeXS;
  padding-right: $ouiSizeXS;
}

.guideSection__propsTableIntro {
  padding-left: $ouiSizeS;
  padding-right: $ouiSizeS;
}

.guideSectionExampleCode__link {
  text-align: right;
  padding-top: $ouiSizeS;
  padding-bottom: $ouiSizeS;
}

.guideSectionTabs {
  padding: $ouiSizeXS $ouiSizeM;

  &--open {
    padding-bottom: 0;
  }
}

.guideSectionTabs__tab {
  font-weight: $ouiFontWeightMedium !important; // sass-lint:disable-line no-important
}
