@mixin ouiTableCell {
  vertical-align: middle;
  border-top: $ouiBorderThin;
  border-bottom: $ouiBorderThin;
  font-weight: inherit;
  text-align: inherit;
}

@mixin ouiTableCellCheckbox {
  @include ouiTableCell;
  width: $ouiTableCellCheckboxWidth;
  vertical-align: middle;
}

@mixin ouiTableActionsBackgroundMobile {
  background-image: linear-gradient(to right, $ouiTableActionsBorderColor 0, $ouiTableActionsBorderColor 1px, transparent 1px, transparent 100%);
  background-size: $ouiTableActionsAreaWidth 100%;
  background-position-x: right;
  background-repeat: no-repeat;
}
