// Spacing

$ouiTableCellContentPadding: $ouiSizeS;
$ouiTableCellContentPaddingCompressed: $ouiSizeXS;

$ouiTableCellCheckboxWidth: $ouiSizeXL;

$ouiTableActionsAreaWidth: $ouiSizeXXL;

// Colors

$ouiTableHoverColor: tintOrShade($ouiColorLightestShade, 50%, 20%);
$ouiTableSelectedColor: tintOrShade($ouiFocusBackgroundColor, 30%, 0%);
$ouiTableHoverSelectedColor: tintOrShade($ouiFocusBackgroundColor, 0, 10%);
$ouiTableActionsBorderColor: transparentize($ouiColorMediumShade, .9);
$ouiTableHoverClickableColor: transparentize($ouiColorPrimary, .95);
$ouiTableFocusClickableColor: transparentize($ouiColorPrimary, .9);
