// Sizing
$ouiCollapsibleNavGroupLightBackgroundColor: $ouiPageBackgroundColor !default;

$ouiCollapsibleNavGroupDarkBackgroundColor: lightOrDarkTheme(
  shade($ouiColorDarkestShade, 20%),
  shade($ouiColorLightestShade, 50%),
) !default;

$ouiCollapsibleNavGroupDarkHighContrastColor: makeGraphicContrastColor(
  $ouiColorPrimary,
  $ouiCollapsibleNavGroupDarkBackgroundColor
) !default;
