.ouiQuickSelectPopover__content {
  width: $ouiFormMaxWidth;
  max-width: 100%;
}

.ouiQuickSelectPopover__section {
  @include ouiScrollBar;
  max-height: $ouiSizeM * 11;
  overflow: hidden;
  overflow-y: auto;
  padding: $ouiSizeS 0 $ouiSizeXS; // Offset negative margin from flex items
}

// sass-lint:disable no-important
.ouiQuickSelectPopover__buttonText {
  // Override specificity from universal and sibling selectors
  margin-right: $ouiSizeXS !important;
}

.ouiQuickSelectPopover__anchor {
  height: 100%;
}

.ouiQuickSelectPopover__sectionItem {
  font-size: $ouiFontSizeS;
  line-height: $ouiFontSizeS;

  &:not(:last-of-type) {
    margin-bottom: $ouiSizeS;
  }
}
