.ouiAccordionForm__extraAction {
  opacity: 0;
  transition: opacity $ouiAnimSpeedNormal $ouiAnimSlightResistance;

  &:focus {
    opacity: 1;
  }
}

.ouiAccordionForm__title {
  display: inline-block;
}

.ouiAccordionForm__button {
  padding: $ouiSize $ouiSize $ouiSize 0;

  &:hover {
    text-decoration: none;

    .ouiAccordionForm__title {
      text-decoration: underline;
    }
  }
}

.ouiAccordionForm {
  border-top: $ouiBorderThin;
  border-bottom: $ouiBorderThin;

  & + .ouiAccordionForm {
    border-top: none;
  }

  &:hover {
    .ouiAccordionForm__extraAction {
      opacity: 1;
      visibility: visible;
    }
  }
}
