@mixin ouiAccordionIconFocus {
  @include ouiFocusRing;
  color: $ouiColorPrimary;
}

@mixin ouiAccordionIconMargin($align: left) {
  @if $align == left {
    margin-left: $ouiSizeXS;
    margin-right: $ouiSizeS;
  } @else {
    margin-left: $ouiSizeS;
    margin-right: $ouiSizeXS;
  }
}
