@mixin ouiPopoverTitle($size: 'm') {
  @if ($size == 's') {
    @include ouiTitle('xxxs');
  } @else if ($size == 'm') {
    @include ouiTitle('xxs');
  } @else {
    @warn 'ouiPopoverTitle only accepts "s" or "m" sizes';
  }

  padding: $ouiSizeM;
  text-transform: uppercase;
  border-bottom: $ouiBorderThin;
}

@mixin ouiPopoverFooter {
  @include ouiFontSizeS;
  padding: $ouiSizeM;
  border-top: $ouiBorderThin;
}
