// Prefixes are unique in this file
// sass-lint:disable no-vendor-prefixes

@mixin ouiRangeTrackSize {
  height: $ouiRangeTrackHeight;
  transition: all $ouiAnimSpeedNormal ease-in;
  width: $ouiRangeTrackWidth;
}

@mixin ouiRangeTrackPerBrowser {
  &::-webkit-slider-runnable-track { @content; }
  &::-moz-range-track { @content; }
  &::-ms-fill-lower { @content; }
  &::-ms-fill-upper { @content; }
}

@mixin ouiRangeThumbStyle {
  cursor: pointer;
  border-color: $ouiRangeThumbBorderColor;
  padding: 0;
  height: $ouiRangeThumbHeight;
  width: $ouiRangeThumbWidth;
}

@mixin ouiRangeThumbPerBrowser {
  &::-webkit-slider-thumb { @content; }
  &::-moz-range-thumb { @content; }
  &::-ms-thumb { @content; }
}
