// sass-lint:disable indentation

$ouiTokenGrayColor: lightOrDarkTheme($ouiColorDarkShade, $ouiColorMediumShade);

// Appends the gray color to the color blind palette
$ouiTokenTypes: map-merge($ouiPaletteColorBlind, (
  'gray': (
    graphic: $ouiTokenGrayColor,
    behindText: $ouiTokenGrayColor,
  )
));

$ouiTokenTypeKeys: map-keys($ouiTokenTypes);
